DJANGO_SECRET_KEY=)@5c$3smxl2%lrjulnq@q@u(gc8rt#c248*0bs8&rv_^dfp^(_
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.mysql
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=xxxx
DB_NAME=-----
DB_PORT=3306

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
